trace_streamer/out
.vscode
.idea
ide/bin
ide/cert
ide/dist
ide/node_modules
ide/package-lock.json
ide/third-party
trace_streamer/prebuilts/emsdk
trace_streamer/prebuilts/linux
trace_streamer/third_party
trace_streamer/compile_commands.json
trace_streamer/.cache
tmp_*
build-*
*.pro.use*
.DS_Store
._.DS_Store
.history